/* Eliminamos márgenes y paddings por defecto del navegador */
* {
  margin: 0;
  padding: 0;
}

.back-to-top:hover {
  background-color: grey; /* Cambia el color al pasar el ratón */
}

.back-to-top:focus {
  outline: none; /* Elimina el borde de enfoque */
}

/* Estilo general para el <body> */
body {
  margin: 0;
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
  background-color: #000;
}

/* Ajustar el tamaño del carrusel */
#carouselExampleIndicators {
  max-width: 100%;  /* Ajusta al porcentaje deseado */
  margin: 0 auto;  /* Centra el carrusel */
  margin-top: 90px;
  border: 4px solid #247BA0; /* Color y grosor del borde */
  border-radius: 10px; /* Opcional: bordes redondeados */
  overflow: hidden; /* Para que las imágenes no se salgan del borde redondeado */
  box-shadow: 0 0 20px rgba(36, 123, 160, 0.4), 
  0 0 40px rgba(36, 123, 160, 0.2), 
  0 0 60px rgba(36, 123, 160, 0.1);
}

/* Ajustar las imágenes dentro del carrusel */
#carouselExampleIndicators .carousel-inner img {
  width: 100%;
  height: auto;
  object-fit: cover;  /* Asegura que las imágenes no se deformen */
}

/* Responsividad */
@media (max-width: 768px) {
  #carouselExampleIndicators .carousel-inner img {
    height: 250px;  /* Ajusta la altura para dispositivos pequeños */
  }
}

/* Ajustar el tamaño de los íconos de navegación */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 40px 40px;  /* Ajusta el tamaño de los íconos */
}


/* Estilo para los párrafos */
p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

/*Estilo para la seccion de envios*/
.info-card {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px; /* Opcional: bordes redondeados */
  overflow: hidden; /* Para que las imágenes no se salgan del borde redondeado */
  box-shadow: 0 0 20px rgba(36, 123, 160, 0.4), 
  0 0 40px rgba(36, 123, 160, 0.2), 
  0 0 60px rgba(36, 123, 160, 0.1);
}

.info-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.info-section {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  background-color: #000;
  
}

.info-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
  flex-wrap: wrap;
}


.info-card h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: black;
  font-family: 'Rajdhani', sans-serif;

}
.info-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;

}


/*Estilo para la barra de navegacion*/
.menu {
  position: fixed;
  top: 0;
  left: -2%;
  width: 105%;
  z-index: 1000;
  padding: 30px ;
  background-image: url('../img/Logo3.jpeg');
  background-size:cover;
  background-position:  center;
  padding-top: 0px;
  
}
/* Ajustes al tamaño y espacio de los botones del login y carrito */
.d-flex.justify-content-end .btn {
  padding: 5px;
  transform: translateX(-14px); /* Mueve el botón 10px a la izquierda */
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu h2 {
  margin-top: 10px;
  font-family: 'Rajdhani', sans-serif;
}

.menu li a {
  display: block;
  padding: 18px 22px;
  color: #E2E8C0;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.menu li a:hover {
  background-color: #247BA0;
}

h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

/*Estilo para los precios y productos del carrusel*/
.item-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  background-color: white;
  border-radius: 0.75rem;
  padding: 0.75rem;
  min-width: 160px;
  transition: transform 0.3s ease;
  text-align: center;
  box-shadow: 0 0 20px rgba(36, 123, 160, 0.4), 
  0 0 40px rgba(36, 123, 160, 0.2), 
  0 0 60px rgba(36, 123, 160, 0.1);
}


.carrito-icono {
  width: 100px !important;
  height: auto !important;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carrito-icono:hover {
  transform: scale(1.1);
}

.item-producto:hover {
  transform: scale(1.05);
}

.item-producto img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.precio {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/*Estilo para el Carrusel infinito*/
.caja-carrusel {
  background-color: #247BA0;
  border: 5px solid #247Ba0;
  border-radius: 1rem;
  padding: 2rem 0;
  margin: 2rem ;
  width: auto;
  border-radius: 10px; /* Opcional: bordes redondeados */
  box-shadow: 0 0 20px rgba(36, 123, 160, 0.4), 
  0 0 40px rgba(36, 123, 160, 0.2), 
  0 0 60px rgba(36, 123, 160, 0.1);
}

.titulo-caja {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #212529;
  font-family: 'Rajdhani', sans-serif;
}

.carrusel-infinito {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 30s linear infinite;
}

.carousel-track img {
  width: 150px;
  height: auto;
  margin: 0 1rem;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.carousel-track img:hover {
  transform: scale(1.1);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Estilo para la seccion de informacion */

/* Estilo para el pie de pag */
.footer {
  background-color: #030e27;
  color: white;
  padding: 2rem 1rem;
  font-size: 14px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

/* Parte superior del footer */
.footer-superior {
  max-width: 1200px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 15px;
}

.footer-contacto {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.footer-redes {
  flex: 1;
  min-width: 250px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

/* Parte inferior del footer */
.footer-inferior {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.footer-links a {
  color: #E2E8C0;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-mediosPagos p {
  font-size: 12px;
  color: #E2E8C0;
}


/* Estilo para la barra de búsqueda */
/* Estilo para la barra de búsqueda */
.Busqueda {
  display: flex;
  justify-content: center; /* Alinea el contenido en el centro */
  align-items: center; /* Alinea verticalmente los elementos */
  text-align: center;
  padding: 10px;
}

/* Contenedor para el botón de la casita y la barra de búsqueda */
.search-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el botón y la barra de búsqueda */
  justify-content: flex-start; /* Alinea todo a la izquierda */
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Limita el ancho máximo para que no se extienda demasiado */
}

/* Estilo para el botón de la casita */
.search-home-button {
  background-color: #247BA0; /* Color de fondo */
  color: white; /* Color del ícono */
  border: none; /* Sin borde */
  padding: 6px 10px; /* Tamaño ajustado del botón */
  border-radius: 50%; /* Redondea el botón */
  font-size: 20px; /* Tamaño del ícono */
  margin-right: 10px; /* Espacio entre el botón y la barra de búsqueda */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para el botón de la casita al pasar el cursor */
.search-home-button:hover {
  background-color: grey; /* Color de fondo cuando el cursor pasa sobre el botón */
}

/* Estilo para la barra de búsqueda */
.search-input {
  width: 300px; /* Ajusta el tamaño de la barra de búsqueda */
  padding: 5px;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 50px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 10px; /* Espacio entre la barra de búsqueda y el botón de búsqueda */
  font-family: 'Roboto', sans-serif;
}

.search-input:focus {
  border-color: #443742;
}

/* Estilo del botón de búsqueda */
.search-button {
  background-color: #247BA0;
  color: white;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 200;
}

.search-button:hover {
  background-color: grey;
}

.search-button:focus {
  outline: none;
}

/* Media queries para hacer el diseño responsivo */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column; /* Apila los elementos en pantallas pequeñas */
    align-items: center; /* Centra el contenido */
    width: 90%; /* Hace la barra de búsqueda más estrecha en móviles */
  }

  .search-input {
    width: 80%; /* Barra de búsqueda más pequeña en dispositivos móviles */
  }

  .search-home-button {
    padding: 5px 8px; /* Reduce el tamaño del botón en pantallas pequeñas */
    font-size: 16px; /* Reduce el tamaño del ícono */
  }

  .search-button {
    font-size: 16px; /* Hace más pequeño el ícono de búsqueda en pantallas pequeñas */
  }
}



/* Estilo para la parte superior de las redes sociales */
.Iconos-redes img {
  width: 80px;
  height: 60px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 80%; /* Opcional: bordes redondeados */
  box-shadow: 0 0 20px rgba(36, 123, 160, 0.4), 
  0 0 40px rgba(36, 123, 160, 0.2), 
  0 0 60px rgba(36, 123, 160, 0.1);
  
}

.Iconos-redes img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #2478A0;
}

.container2 {
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

/* Responsivo */
@media (max-width: 768px) {
  /* Ajustamos el diseño de la parte superior e inferior del footer */
  .footer-superior, .footer-inferior {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-contacto {
    text-align: center;
    margin-bottom: 15px;
  }

  /* Hacemos que los iconos de redes sociales se alineen al centro */
  .footer-redes {
    align-items: center;
    text-align: center;
  }

  /* Redefinimos la sección de enlaces y la parte inferior */
  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-mediosPagos {
    font-size: 12px;
    margin-top: 10px;
  }

  /* Ajustamos el tamaño de los iconos de redes sociales */
  .Iconos-redes img {
    width: 80px;
    height: 60px;
  }

  /* Ajuste de márgenes y tamaño de los textos en pantallas pequeñas */
  .footer a, .footer p {
    font-size: 14px;
  }

  .footer-superior {
    padding-top: 10px;
  }

  .footer-contacto a, .footer-redes a {
    font-size: 14px;
  }
}

/* Pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  /* Ajuste de tamaño y márgenes en pantallas muy pequeñas */
  .footer {
    font-size: 12px;
    padding: 15px 0;
  }

  .footer-contacto p, .footer-redes p {
    font-size: 12px;
  }

  .footer a {
    font-size: 12px;
  }

  .footer .btn {
    font-size: 12px;
    padding: 8px;
  }

  .footer-inferior {
    font-size: 12px;
  }
}

.botones-nav {
  margin-top: -70px; 
}

