/* Eliminamos márgenes y paddings por defecto del navegador */
* {
  margin: 0;
  padding: 0;
}

/* Estilo general para el <body> */
body {
  background-color: #CEA07E
}
body {
  margin: 0;
  padding-top: 80px;
  font-family: sans-serif;
}

/* Estilo para los párrafos */
p {
  font-family: Verdana;
  text-align: justify;
  color:  #E2E8C0;
 
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.titulo{
 color:#E2E8C0;
 font-size:50px;
 position:absolute;
}

/*Estilo para la barra de navegacion*/
.menu {
  background-color: #443742; /* Fondo negro */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 
  z-index: 1000; /* para que esté por encima del contenido */
  padding: 5px 10px;
}


.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Para que estén en línea */
  justify-content: center; /* Alineados a la derecha */
}

.menu li a {
  display: block;
  padding: 18px 22px;
  color: #E2E8C0;
  text-decoration: none;

}

.menu li a:hover {
  background-color: #333; /* Efecto hover */
}



h2{
  color:#E2E8C0;
  font-weight: bold;
  text-align: center;
}

/* Estilo para un div con clase "clase" */
.clase {
  color: blue;
  background-color: #e0f0ff;
  border: 2px solid blue;
  padding: 15px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

/*Estilo para el Carrusel infinito*/
.Carrusel-Infinito {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  animation: scroll 15s linear infinite;
}

.carousel-track img {
  width: 300px;
  height: auto;
  margin-right: 10px;
  border-radius: 8px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Estilo para el div del título */



/* Estilo para el div del párrafo */
.parrafo {
  background-color: #443742;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 60px;
  padding-right: 300px;
}


/* Estilo para el pie de página */
.footer {
  background-color: #443742;
  color: white;
  padding: 2rem 0;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}

.footer-content p {
  max-width: 1200px;
  margin: 0;
  color: #E2E8C0;
}

.footer p {
  margin: 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color:#E2E8C0;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}
