/* Eliminamos márgenes y paddings por defecto del navegador */
* {
  margin: 0;
  padding: 0;
}

/* Estilo general para el <body> */
body {
  margin: 0;
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  background-color: #e2e2e2;
  overflow-x:hidden;
}

/* Estilo para los párrafos */
p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

/*Estilo para la seccion de envios*/
.info-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.info-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}




/*Estilo para la barra de navegacion*/
.menu {
  background-color: #443742;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px 10px;
  background-image: url('../img/Logo3.jpeg');
  background-size: cover;
  background-position:  center;
  
}
/* Ajustes al tamaño y espacio de los botones del login y carrito */
.d-flex.justify-content-end .btn {
  padding: 10px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu h2 {
  margin-top: 10px;
  font-family: 'Rajdhani', sans-serif;
}

.menu li a {
  display: block;
  padding: 18px 22px;
  color: #E2E8C0;
  text-decoration: none;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.menu li a:hover {
  background-color: #333;
}

h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

/*Estilo para los precios y productos del carrusel*/
.item-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  background-color: white;
  border-radius: 0.75rem;
  padding: 0.75rem;
  min-width: 160px;
  transition: transform 0.3s ease;
  text-align: center;
}

.carrito-icono {
  width: 100px !important;
  height: auto !important;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carrito-icono:hover {
  transform: scale(1.1);
}

.item-producto:hover {
  transform: scale(1.05);
}

.item-producto img {
  width: 500px;
  height: 500px;
  margin-bottom: 0.5rem;
}

.precio {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*Estilo para el Carrusel infinito*/
.caja-carrusel {
  background-color: #247BA0;
  border: 5px solid #0A2463;
  border-radius: 1rem;
  padding: 2rem 0;
  margin: 2rem ;
  width: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.titulo-caja {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #212529;
  font-family: 'Rajdhani', sans-serif;
}

.carrusel-infinito {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 30s linear infinite;
}

.carousel-track img {
  width: 150px;
  height: auto;
  margin: 0 1rem;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.carousel-track img:hover {
  transform: scale(1.1);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Estilo para la seccion de informacion */
.info-section {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  background-color: grey;
}

.info-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.info-card {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  text-align: center;
}

.info-card h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: black;
  font-family: 'Rajdhani', sans-serif;

}
.info-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Estilo para el pie de pag */
.footer {
  background-color: #030e27;
  color: white;
  padding: 2rem 1rem;
  font-size: 14px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

/* Parte superior del footer */
.footer-superior {
  max-width: 1200px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 15px;
}

.footer-contacto {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.footer-redes {
  flex: 1;
  min-width: 250px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

/* Parte inferior del footer */
.footer-inferior {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.footer-links a {
  color: #E2E8C0;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-mediosPagos p {
  font-size: 12px;
  color: #E2E8C0;
}

/* Estilo para la barra de búsqueda */
.Busqueda {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: right;
  align-items: right;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.search-input {
  width: 400px;
  padding: 12px 20px;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 50px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}

.search-input:focus {
  border-color:#443742;
}

.search-button {
  background-color: #247BA0;
  color: white;
  font-size: 18px;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

.search-button:hover {
  background-color: grey;
}

.search-button:focus {
  outline: none;
}

/* Estilo para la parte superior de las redes sociales */
.Iconos-redes img {
  width: 100px;
  height: 80px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Iconos-redes img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #2478A0;
}

.container2 {
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

/* Responsivo */
@media (max-width: 768px) {
  /* Ajustamos el diseño de la parte superior e inferior del footer */
  .footer-superior, .footer-inferior {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-contacto {
    text-align: center;
    margin-bottom: 15px;
  }

  /* Hacemos que los iconos de redes sociales se alineen al centro */
  .footer-redes {
    align-items: center;
    text-align: center;
  }

  /* Redefinimos la sección de enlaces y la parte inferior */
  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-mediosPagos {
    font-size: 12px;
    margin-top: 10px;
  }

  /* Ajustamos el tamaño de los iconos de redes sociales */
  .Iconos-redes img {
    width: 80px;
    height: 60px;
  }

  /* Ajuste de márgenes y tamaño de los textos en pantallas pequeñas */
  .footer a, .footer p {
    font-size: 14px;
  }

  .footer-superior {
    padding-top: 10px;
  }

  .footer-contacto a, .footer-redes a {
    font-size: 14px;
  }
}

/* Pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  /* Ajuste de tamaño y márgenes en pantallas muy pequeñas */
  .footer {
    font-size: 12px;
    padding: 15px 0;
  }

  .footer-contacto p, .footer-redes p {
    font-size: 12px;
  }

  .footer a {
    font-size: 12px;
  }

  .footer .btn {
    font-size: 12px;
    padding: 8px;
  }

  .footer-inferior {
    font-size: 12px;
  }
}