body.quienesSomos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7;
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .container {
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
    margin-top:80px;
  }
  
  h2 {
    color: #00bcd4;
  }
  
  p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
  }
  