<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GGHardware</title>
    <link href="assets/css/miestilo.css" rel="stylesheet"> 
</head>
<body>
    //verificar actualizacion 11111
    
    <nav class="menu"> 
        <ul> 
            <li><a href="#">Inicio</a></li> 
            <li><a href="#">Sobre nosotros</a></li> 
            <li><a href="#">Contacto</a></li> 
        </ul>
    </nav>
        
    <div class="titulo">
        <h1>Bienvenidos a GGHardware</h1> 
    </div>

    <div class="parrafo"> 
        <h2>Tienda de componentes y periféricos</h2> 
        <p>Esto es un párrafo dentro de un div,  
        <span>y esto un span dentro de un párrafo.</span>
        </p> 
        <p>Este es otro párrafo de ejemplo de div</p>
    </div>

    <footer>
        <p>Contactos: </p>
    </footer>
    
</body>
</html>
