<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <link href="assets/css/miestilo.css" rel="stylesheet" > 
</head>
<body>
    <div class="titulo">
        <h1>Bienvenidos a taller de programacion I</h1> 
    </div>
    <div class= "parrafo"> 
        <h2> Ejemplo de div y span </h2> 
        <p>Esto es un párrafo dentro de un div,  
        <span style="color: red;"> y esto un span dentro de un párrafo.</span>
        </p> 
        <p>Este es otro parrafo de ejemple de div </p>
        </div>
    <footer>
        <p>esta es la seccion del pie de pagina</p>
    </footer>
</body>
</html>
